{% if user.is_active %}

<div>| В сети {{ user.username }}</div>
    <a href="/logout/">LOGOUT</a>
{% else %}
    <form method="post" action="/">
<div><label for="username">Логин:</label>
|{{ form.username }}
</div>
<div> <label for="password">Пароль:</label>
|{{ form.password }}

</div>

<div>
    {% csrf_token %}
    <input  type="submit" value="login" >
</div>
{#    {% if error %}{% else %}#}
{#        <a>User not found</a>#}
{##}
{##}
{#    {% endif %}#}



{% if form.errors %}<a>User not found</a>{% endif %}
</form>
{% endif %}
