{% extends 'derg/base.html' %}


{% block content %}
  {% if login_error %}
    <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
  {% endif %}

  <form method="post" action=".">
    {% csrf_token %}
{#      {{ form.as_p }} - этим не пользуйся, только для проверки какие поля в форме есть, он просто их красиво отобразит, но ты не сможем#}
{#      пометь местоположение или что-то дописать к нему, лучше так {{ form.название поля }}#}
{#    <div><label for="username">Логин:</label>#}
{#    |{{ form.username }}#}
{#    </div>#}
{#    <div> <label for="password">Пароль:</label>#}
{#    |{{ form.password }}#}
{#    </div>#}
    <input  type="submit" value="login" >
  </form>

{% endblock %}


